<div class="pos-f-t"> 
    <nav class="navbar navbar-dark bg-dark form-inline mt-2 mt-md-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
  </nav>


  <div class="collapse" id="navbarToggleExternalContent">
    <div class="col" style="margin-top: 10px; margin-bottom: 20px;">
      <button type="button" class="btn btn-info float-left" [routerLink]="'home'">HOME</button>
      <button type="button" class="btn btn-info float-right" [routerLink]="'add'">Add Price</button>
    </div>
  </div>
</div>

<br>
<div class="container d-flex justify-content-center">
  <img src="./../../assets/logo.png" class="img-fluid pt-7" style="margin-bottom: 20px;">
</div>